<nav class="pagination" role="pagination">
    {{#if prev}}<a class="newer-posts" href="{{pageUrl prev}}">&larr; Newer</a> | {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}} | <a class="older-posts" href="{{pageUrl next}}">Older &rarr;</a>{{/if}}
</nav>